@import 'bootstrap';
.navbar {
    background-color: rgb(18, 56, 18) !important;
}

.nav-link {
    color: white !important;
}

#logo {
    color: white !important;
    float: left;
    font-size: 1.7em;
    letter-spacing: -1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#page-content {
    flex: 1 0 auto;
    background-color: rgb(209, 218, 217);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-align {
    margin-top: auto;
    background-color: rgb(18, 56, 18) !important;
}