<div id="<%= dom_id activity %>">
  <p>
    <strong>Activity name:</strong>
    <%= activity.activity_name %>
  </p>

  <p>
    <strong>Activity date:</strong>
    <%= activity.activity_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

</div>
