<footer class="footer-align text-white">
  <div class="container-fluid text-center">
    <div class="row p-4">
      <div class="col">Home</div>
      <div class="col">Activities</div>
      <div class="col">Link</div>
      <div class="col">Users</div>
     <small class="p-2">Copyright &copy; <%= link_to "moveandgroove", "https://moveandgroove.com", class: "text-white text-decoration-none" %></small>
    </div>
  </div>
</footer>
